<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>투표 게시판</title>
    <link rel="stylesheet" th:href="@{/css/vote.css}">
    <script src="/js/vote.js"></script>
</head>
<body>

<!--<div th:insert="common/header.html" class="header"></div>-->


<!-- 코드 시작-->

<!-- 카드를 만듭니다. -->
<div class="card">
    <h3>카드 제목 1</h3>
    <p>카드 내용 1</p>
</div>

<button onclick="createVote()">글쓰기</button>

<!-- 코드 끝 -->

<!-- FOOTER -->
<div th:insert="common/footer.html" class="footer"></div>

</body>
</html>