<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>투표 게시판 글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/votecreate.css}">
    <script src="/js/votecreate.js"></script>
</head>
<body>

<div id="options">
    <!-- 선택지가 동적으로 추가될 위치 -->
</div>

<label for="poll-title">투표 제목:</label>
<input type="text" id="poll-title" name="poll-title"><br><br>

<button onclick="addOption()">선택지 추가</button>
<button onclick="submitVote()">투표 제출</button>

</body>
</html>